name: Create VM

on:
  workflow_dispatch:

jobs:
  create-vm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Create VM
        run: |
          gcloud compute instances describe my-instance || \
          gcloud compute instances create my-instance \
              --zone=us-central1-a \
              --machine-type=e2-medium \
              --subnet=my-project-vpc \
              --network-tier=PREMIUM \
              --maintenance-policy=MIGRATE \
              --service-account=123456789-compute@developer.gserviceaccount.com \
              --scopes=https://www.googleapis.com/auth/devstorage.read_only,https://www.googleapis.com/auth/logging.write,https://www.googleapis.com/auth/monitoring.write,https://www.googleapis.com/auth/servicecontrol,https://www.googleapis.com/auth/service.management.readonly,https://www.googleapis.com/auth/trace.append \
              --image=debian-10-buster-v20210217 \
              --image-project=debian-cloud \
              --boot-disk-size=10GB \
              --boot-disk-type=pd-balanced \
              --boot-disk-device-name=my-instance \
              --no-shielded-secure-boot \
              --shielded-vtpm \
              --shielded-integrity-monitoring \
              --reservation-affinity=any 
